html,
body,
.canvas {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.canvas {
    background: #f2f2f2;
}

.card {
    width: 160px;
    height: 80px;

    position: absolute;
    top: 50px;
    left: 100px;

    background: white;
    border: 1px solid black;
}
